$medium-text: 1.6rem;
$large-text: 2.5rem;
$grey: rgb(100, 100, 100);
$red: rgb(255, 115, 115);
$green: rgb(53, 197, 53);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.row > * {
    grid-column: span 12;
}

.row-gap-4 {
    grid-row-gap: 4rem;
}

.col-gap-4 {
    grid-column-gap: 4rem;
}

.box {
    max-width: 900px;
    padding: 5rem;
    background-image: linear-gradient(90deg, rgb(245, 245, 245) 50%, white 50%);
    box-shadow: 0 5px 25px -15px black;
}

.buttons,
.player-container {
    grid-column: span 4;
    text-align: center;
}

.player,
.player-score {
    font-size: $large-text;
}

.player {
    margin-bottom: 2rem;
    color: $grey;
}

.player-score {
    color: $red;
}

.local-score {
    padding: 1rem;
    background-color: $red;
    color: white;
    border-radius: .3rem;

    .player-current-score {
        font-size: $medium-text;
    }
}

.current{
    margin-bottom: 1rem;
}

.player .active {
    background-color: rgb(230, 230, 230);
    padding: .4rem;
    display: inline-block;
    margin-bottom: .6rem;
    margin-left: .5rem;
    border-radius: 100rem;
}

.winner {
    font-size: $large-text;
    color: $green;
    visibility: hidden;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.buttons button {
    font-size: $medium-text;
    color: $grey;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: 300ms ease;
}

.buttons button:hover {
    color: $red;
    transition: 300ms ease;
}

.dice-img {
    width: 150px;
    height: auto;
    box-shadow: 0 5px 25px -20px black;
    display: block;
    margin: auto;
    border-radius: .5rem;
}

.roll-dice-button {
    margin-bottom: 2rem;
}

.buttons .new-game-button {
    color: $red;
}
